# Python
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/

# OS
.DS_Store

# Data/Models/Outputs (keep heavy stuff out)
saved_models/
outputs/
data/raw/*

!data/raw/README.txt
!data/raw/sample_goemotions.csv

# Streamlit cache
.streamlit/

# VSCode
.vscode/


# notebooks, experiments, caches
notebooks/
experiments/
artifacts/
final_data/
figures/
history_ss.png
main_page*.png

# BIG model outputs/checkpoints
part1_emotion/results_*/
part1_emotion/roberta-goemotion-run/
part1_emotion/**/checkpoint-*/

# datasets inside part1_emotion
part1_emotion/data/
