# Python
__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/

# OS
.DS_Store

# Data/Models/Outputs (keep heavy stuff out)
saved_models/
outputs/
data/raw/*

!data/raw/README.txt
!data/raw/sample_goemotions.csv

# Streamlit cache
.streamlit/

# VSCode
.vscode/
